html{
    text-align: center;
}

header{
    color: gold;

}

body
{
background-color: rgb(56, 56, 95);
color: rgb(235, 201, 8);
font-family: 'Courier New', Courier, monospace;
}

hr{
    color: gold
}

#raiderbody{
    text-align: center;
}

.raiderpictures{
    height: 200px;
    width: 200px;
}
a{
    color:aliceblue;
}

a:hover{
    color: burlywood;
    font-weight: bold;
}

header{
    text-align: center;
}


