html{
    text-align: center;
}

header{
    color: gold;
    background-image: url(images/disbandedheader-removebg-preview.png);
    background-size: 400px, 700px;
    height: 460px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: top;
    background-color:rgb(212, 197, 173);
    
    
}

body
{
background-color: rgb(123, 116, 104);
color: rgb(252, 239, 162);
font-family: 'Courier New', Courier, monospace;
}

hr{
    color: rgb(252, 239, 162);
}

footer{
    background-color: rgb(212, 197, 173);
    width: 100%;
    height: 200px
}

footer a{
    font-size: 30px;
    color:black;
}

footer a:hover{
    background-color: rgb(187, 141, 66)
}

#raiderbody{
    text-align: center;
}

.raiderpictures{
    height: 200px;
    width: 200px;
}
a{
    color:aliceblue;
}

a:hover{
    color: burlywood;
    font-weight: bold;
}

.container{
    height:460px;
    width:100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: flex-end;

}

.item{
    border: 2px solid black;
    font-size: 50px;
    color:black;
    background-color: rgb(212, 197, 173);
    text-decoration: none;
    
}

.item:hover{
    background-color: rgb(187, 141, 66)
}

.raidnavigation:hover{
    color:black;
}

.raidnavigation{
    font-size:larger;
}

.newsphotos{
    max-width: 100%;
}

.flexitem{
    color:black
}

.aboutImages{
    height: 300px;
    width: 200px;
}

#dockmasterphoto{
    width:100%;
}



