html{
    text-align: center;
}

header{
    color: gold;
    background-image: url(images/disbandedheader-removebg-preview.png);
    background-size: 400px, 700px;
    height: 460px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: top;
    background-color:rgb(212, 197, 173);
    
    
}

body
{
background-color: rgb(123, 116, 104);
color: rgb(252, 239, 162);
font-family: 'Courier New', Courier, monospace;
}

article{
    margin: 100px;
}

hr{
    color: rgb(252, 239, 162);
}

footer{
    background-color: rgb(212, 197, 173);
    width: 100%;
    height: 200px
}

footer a{
    font-size: 30px;
    color:black;
}

footer a:hover{
    background-color: rgb(187, 141, 66)
}

#raiderbody{
    text-align: center;
}

.raiderpictures{
    height: 200px;
    width: 200px;
}
a{
    color:aliceblue;
}

section{
    margin: 100px;
}

a:hover{
    color: burlywood;
    font-weight: bold;
}

.container{
    height:460px;
    width:100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: flex-end;

}

.item{
    border: 2px solid black;
    font-size: 50px;
    color:black;
    background-color: rgb(212, 197, 173);
    text-decoration: none;
    
}

.item:hover{
    background-color: rgb(187, 141, 66)
}

.raidnavigation:hover{
    color:black;
}

.raidnavigation{
    font-size:larger;
}

.newsphotos{
    max-width: 100%;
}

.flexitem{
    color:black
}

.aboutImages{
    height: 300px;
    width: 200px;
}

#dockmasterphoto{
    width:100%;
}

.dps_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    flex-grow: 0;
}

.dps_item{
    width: 400px;
    height: 750px;
    background-color:rgb(212, 197, 173);
    color: black;
    border: 1px solid black;
    border-radius: 2px;
    margin: 10px;
}

.healer_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    flex-grow: 0;
}

.healer_item{
    width: 400px;
    height: 750px;
    background-color:rgb(212, 197, 173);
    color: black;
    border: 1px solid black;
    border-radius: 2px;
    margin: 10px;
}

.tank_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    flex-grow: 0;
}

.tank_item{
    width: 400px;
    height: 750px;
    background-color:rgb(212, 197, 173);
    color: black;
    border: 1px solid black;
    border-radius: 2px;
    margin: 10px;
}

.application_container{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color:rgb(212, 197, 173);
    border: 1px solid black;
    border-radius: 2px;
    margin: 5%;
}

.application_item{
    margin: 20px;
    color: black;
}

#application_submit{
    width: 200px;
    height: 50px;
    background-color:rgb(212, 197, 173);
    border: 2px solid blacK;
    border-radius: 2px;
    font-size: 20px;
}

#application_submit:hover{
        color: burlywood;
        font-weight: bold;
        background-color: rgb(187, 141, 66);
        font-size: 20px;

}



