.guild_container{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.guild_item{
    background-color:rgb(212, 197, 173);
    color: black;
    padding: 20px;
    border: 1px solid black;
    border-radius: 3px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.guild_item div{
    margin-bottom: 1%;
}

.item_1{
    background-image: url(../images/Blackrock-Depths.jpg);
}

.item_2{
    background-image: url(../images/nerubarpalace.jpg);
    background-size: cover;
}

.guild_item div:nth-of-type(1){
    color:rgb(212, 197, 173);
    background-color: rgba(0, 0, 0, 0.699);
    font-size: 70px;
}

.guild_item div:nth-of-type(2){
    color:rgb(212, 197, 173);
    background-color: rgba(0, 0, 0, 0.699);
    font-size: 20px;
}

.guild_item div:nth-of-type(3){
    color:rgb(212, 197, 173);
    background-color: rgba(0, 0, 0, 0.699);
    font-size: 50px;
}

.guild_item div:nth-of-type(4){
    color:rgb(212, 197, 173);
    background-color: rgba(0, 0, 0, 0.699);
    font-size: 35px;
}
