.guild_item{
    background-color:rgb(212, 197, 173);
    color: black;
    padding: 20px;
    border: 1px solid black;
    border-radius: 3px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    height: 800px;
}

.item_1{
    background-image: url(/images/Blackrock-Depths.jpg);
}

.item_2{
    background-image: url(/images/nerubarpalace.jpg);
    background-size: cover;
}

.guild_item div:nth-of-type(1){
    background-color:rgb(212, 197, 173);
}

.guild_item div:nth-of-type(2){
    background-color:rgb(212, 197, 173);
}

.guild_item div:nth-of-type(3){
    background-color:rgb(212, 197, 173);
}

.guild_item div:nth-of-type(4){
    background-color:rgb(212, 197, 173);
}
